{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Artur Jasinski | Resume</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'wwwapp/img/favicon.png' %}">
  <link rel="apple-touch-icon" href="{% static 'wwwapp/img/apple-touch-icon.png' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'wwwapp/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'wwwapp/vendor/icofont/icofont.min.css' %}">
  <link rel="stylesheet" href="{% static 'wwwapp/vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'wwwapp/vendor/venobox/venobox.css' %}">
  <link rel="stylesheet" href="{% static 'wwwapp/vendor/owl.carousel/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'wwwapp/vendor/aos/aos.css' %}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'wwwapp/css/style.css' %}">

  <!-- =======================================================
  * Template Name: MyResume - v2.1.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Artur Jasinski</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
      <div class="social-links">
        <a href="https://github.com/Wooodzu/portfolio" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.facebook.com/artur.jasinski.75" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/artur.jasinski.75/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->



  <main id="main">


    <!-- ======= About Section ======= -->
  {% if name %}
     <div class="container" style="text-align: center; color: #45505b; padding: 40px; max-width: 1140px; ">
      <h2>Thanks {{ email }}</h2>
      <p> I received your email and will respond shortly...</p>
     </div>


  {% else %}

    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>
            From the moment I produced "Hello World" in the console of my first application, I knew i was hooked into
            the world of software development. But software development has never been "just a job" for me, it's offered
            an engaging challenge to continually learn and improve my skills in creating high-quality software. What
            started with a simple "Hello World" has become a full-fledged passion that only gets more exciting as the
            years go by.
            <br>
            Below you will find project I've completed that showcase my skills and general background in developing
            software.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img class="img-fluid" src="{% static 'wwwapp/img/profile-img.jpg' %}"  alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Web Developer</h3>
            <p class="font-italic">
              I became passionate in programming when I got to know how powerful and addictive coding is.
              <br>I realized that I want to do my job in this area in my professional life.</br>
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 26 July 1993</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.aj-project.co.uk</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> 07842154494</li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Bedford, Great Britain</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 28</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Self-taught</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> artur199933@gmail.com</li>
                </ul>
              </div>
            </div>
            <p>
              Determined and self-motivated, and therefore effective at completing tasks with success. Strong analytical
              and problem solving skills with superior attention to detail.  Pro-active approach, great work ethic, and
              the important ability to function well in fast-paced and deadline-driven team environments.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Facts</h2>
          <p>I started creating web applications using Python's framework Django, HTML and CSS back in 2020. From today's perspective my first
            project was very basic, but gave me a lot of satisfaction and motivation to code more and more.
            Today I know it was very good foundation and now in many ways, websites are my first love!</p>
        </div>

        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-2">
              <div class="count-box">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">5</span>
                <p>Projects</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-2">
              <div class="count-box">
                <i class="icofont-live-support"></i>
                <span data-toggle="counter-up">450</span>
                <p>Hours</p>
            </div>
        </div>
      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>When starting my first project, I quickly realized that to build even a basic website it was not enough
            only Python - which was my main assumption. Over time, more languages and frameworks such as HTML,
            Bootstrap, JavaScript, CSS began to come. Another essential thing is version control - Github, which saved
            me, many times and made it possible to experiment with the code and edit it without fear of losing it.
            The last step is deployment. Amazon Web Services (AWS) is the best place for this.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">GitHub <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">AWS <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Being a self-taught developer is a great thing, it’s important to remember that a college degree doesn’t
            necessarily make you a great developer, consistency, practice and experience does.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Artur Jasinski</h4>
              <p><em>Highlt motivated, self-started developer seeking to lunch a career building web applications and
                services. Familiar with development and deployment process for many web-based technologies. </em></p>
              <ul>
                <li>13 Harrow Close, Bedford</li>
                <li>07842154494</li>
                <li>artur199933@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Self-Taught Programmer </h4>
              <h5>2019 - 2021</h5>
              <p><em>YouTube, Udemy, StackOverFlow, Google, Programming groups</em></p>
              <p>Most of my knowledge owe  to YouTube tutorial videos. By building this project I was exposed
                for so many various difficulties. Without StackOverFlow, Google and Programming communities this project
                wouldn't be possible. </p>
            </div>
            <div class="resume-item">
              <h4>Border Guards College </h4>
              <h5>2010 - 2013</h5>
              <p><em>IV Dywizji Wojska Polskiego 72, 78-120 Gościno, Polska</em></p>
              <p>My favourite subjects are: IT, maths and physical education. I chose computer science and calisthenic
                as my life path, in these areas you have to be constantly focused and control on what you do to archive more
                difficult goals. </p>
            </div>
            <div class="resume-item">
              <h4>Certificates </h4>
              <ul>
                <li>Clean Driving Licence (UK).</li>
                <li>Reach Truck, Counterbalance Licence.</li>
                <li>Certificate of Competency of Senior Motorboat Helmsman.</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Experience</h3>
            <div class="resume-item">
              <h4>Interior shop / E-commerce </h4>
              <h5>2020 - Present</h5>
              <ul>
                <li>Fully Functional Cart and payment method.</li>
                <li>Vendor admin panel with information of products, purchases. </li>
                <li>Authentication system, register system, search option.</li>
                <li>Email notifying seller and buyer about new transaction.</li>
                <li>Viewing vendor's products, displaying similar products.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Blog</h4>
              <h5>10.2020 - 12.2020</h5>
              <ul>
                <li>Authentication system,register system, resending forgotten password.</li>
                <li>Updating default profile picture, resizing updated file to save memory.</li>
                <li>Editing,updating, deleting posts, viewing authors all posts.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Contacts List & Todo List</h4>
              <h5>8.2020 - 10.2020</h5>
              <ul>
                <li>Create, delete,edit, update and view functionality.</li>
                <li>Validation entered data.</li>
                <li>Search option.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
            Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All Applications</li>
              <li data-filter=".filter-ToDoList">To Do List</li>
              <li data-filter=".filter-Contact">Contact</li>
              <li data-filter=".filter-Blog">Blog</li>
              <li data-filter=".filter-Ecommerce">Ecommerce</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-ToDoList">
            <div class="portfolio-wrap">
              <img class="img-fluid" src="{% static 'wwwapp/img/portfolio/TodoList.jpg' %}"  alt="">
              <div class="portfolio-info">
                <h4>To Do List</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a class="venobox" href="{% static 'wwwapp/img/portfolio/TodoList.jpg' %}" data-gall="portfolioGallery"  title="ToDo List"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'todo-home' %} " data-gall="portfolioDetailsGallery" data-vbtype="iframe" title="Todo"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Contact">
            <div class="portfolio-wrap">
              <img class="img-fluid" src="{% static 'wwwapp/img/portfolio/contact_list.jpg' %}"  alt="">
              <div class="portfolio-info">
                <h4>Contact List</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a class="venobox" href="{% static 'wwwapp/img/portfolio/contact_list.jpg' %}" data-gall="portfolioGallery"  title="Contact List"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'contact' %}" data-gall="portfolioDetailsGallery" data-vbtype="iframe" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Ecommerce">
            <div class="portfolio-wrap">
              <img class="img-fluid" src="{% static 'wwwapp/img/portfolio/Interiorshop.jpg' %}" alt="">
              <div class="portfolio-info">
                <h4>Interiorshop</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a class="venobox" href="{% static 'wwwapp/img/portfolio/Interiorshop.jpg' %}" data-gall="portfolioGallery"  title="Ecommerce"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'frontpage' %}" data-gall="portfolioDetailsGallery" data-vbtype="iframe" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Blog">
            <div class="portfolio-wrap">
              <img class="img-fluid" src="{% static 'wwwapp/img/portfolio/DjangoBlog.jpg' %}"  alt="">
              <div class="portfolio-info">
                <h4>Blog</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a  class="venobox" href="{% static 'wwwapp/img/portfolio/DjangoBlog.jpg' %}"  data-gall="portfolioGallery" title="Blog"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'blog-home' %}" data-gall="portfolioDetailsGallery" data-vbtype="iframe"  title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>13 Harrow Close, Bedford, MK42 9AL</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>artur199933@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p> 07842154494</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{% url 'wwwapp-home' %}" method="POST"  class="php-email-form">
              {% csrf_token %}
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="namee" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>

                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
  {% endif %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Artur Jasinski</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links">
        <a href="https://github.com/Wooodzu/portfolio" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.facebook.com/artur.jasinski.75" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/artur.jasinski.75/" class="instagram"><i class="bx bxl-instagram"></i></a>

      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'wwwapp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'wwwapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'wwwapp/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'wwwapp/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'wwwapp/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'wwwapp/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'wwwapp/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'wwwapp/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'wwwapp/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'wwwapp/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'wwwapp/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'wwwapp/js/main.js' %}"></script>

</body>

</html>
